<h3>Filtros</h3>
<div class="form-group custom-radio">
  <div class="radio">
    <input id="radio1" type="radio" value="true" name="available" [(ngModel)]="modelFilter.available">
    <label for="radio1">Available</label>
  </div>
  <div class="radio">
    <input id="radio2" type="radio" value="false" name="available" [(ngModel)]="modelFilter.available">
    <label for="radio2">Unavailable</label>
  </div>
</div>
<div class="form-group">
  <label class="d-block">Min Price</label>
  <input class="d-block" type="text" [ngModel]="modelFilter.priceMin | currency:'USD':true:'1.0-2'" (ngModelChange)="modelFilter.priceMin = currencyInputChanged($event)">
</div>
<div class="form-group">
  <label class="d-block">Max Price</label>
  <input class="d-block" type="text" [ngModel]="modelFilter.priceMax | currency:'USD':true:'1.0-2'" (ngModelChange)="modelFilter.priceMax = currencyInputChanged($event)">
</div>
<div class="form-group">
  <label class="d-block">Quantity</label>
  <input class="d-block" type="number" [(ngModel)]="modelFilter.quantity">
</div>



