<div class="container">
  <h5>Carrito de compras</h5>
  <div class="d-flex flex-wrap">
    <div class="rounded" *ngIf="!products || products.length === 0">
      <p>No tienes productos agregados</p>
    </div>
    <div class="card rounded m-2 border border-primary" *ngFor="let product of products">
      <h5 class="p-2">{{product.name}}</h5>
      <div class="p-2">
        <label class="d-block">Quantity</label>
        <input class="d-block" type="number" [(ngModel)]="product.quantity">
      </div>
      <div class="p-2">
        <button class="btn btn-primary" (click)="remove(product)">Remove</button>
      </div>

    </div>
  </div>
</div>
