<div>
  <table class="table">
    <thead>
    <tr>
      <th class="d-none d-md-table-cell" scope="col">#</th>
      <th class="d-sm-table-cell" scope="col">Product</th>
      <th class="d-sm-table-cell" scope="col">Price</th>
      <th class="d-none d-md-table-cell" scope="col">Quantity</th>
      <th class="d-none d-md-table-cell" scope="col">Available</th>
      <th class="d-sm-table-cell" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th class="d-none d-md-table-cell" scope="row">{{i}}</th>
      <td class="d-sm-table-cell">{{product.name}}</td>
      <td class="d-sm-table-cell">{{product.price}}</td>
      <td class="d-none d-md-table-cell">{{product.quantity}}</td>
      <td class="d-none d-md-table-cell">{{product.available}}</td>
      <td class="d-sm-table-cell">
        <button *ngIf="!isAlreadyAdded(product)" (click)="add(product)" class="btn btn-primary">Add</button>
        <button *ngIf="isAlreadyAdded(product)" (click)="remove(product)" class="btn btn-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
