<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img alt="Logo Rappi" id="logo-header" title="Logo Rappi" src="https://images.rappi.com/web/logo-rappi-new.svg?e=webp">
    Frontend Challenger
  </a>
</nav>
<div class="container" *ngIf="serviceLoaded">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <app-categorias class="rounded"></app-categorias>
      <app-filtros class="rounded"></app-filtros>
    </div>
    <div class="col-sm-6 col-md-8">
      <router-outlet></router-outlet>
      <app-carrito></app-carrito>
    </div>
  </div>
</div>
