<div class="d-block d-sm-inline">
  <li *ngIf="!category.sublevels">
    <a [routerLink]="['/products', category.name]" [queryParams]="{ id: category.id}">
      <h6> {{category.name}} </h6>
    </a>
  </li>
  <h6 *ngIf="category.sublevels"> {{category.name}} </h6>
  <app-label-category *ngFor="let sublevel of category.sublevels" [category]="sublevel"></app-label-category>
</div>
