/* You can add global styles to this file, and also import other style files */

@import "styles/variables";

body::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  position: fixed;
  background: url(https://images.rappi.com/web/pattern-rappi.png);
  opacity: .3;
}
